<div class="center hero-unit">
  <h1>Bienvenue sur le site qui vous aide à rester en forme</h1>

  <h2>
    Vous y trouverez
    tous les outils pour gerer votre alimentation et votre activité physique.
  </h2>

  <%= link_to "Rejoignez nous!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>