<footer class="footer">
  <small>
    <a href="">Un site interessant</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "A propos",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="">Suivez nous sur Facebook</a></li>
    </ul>
  </nav>
</footer>